@media (max-width: 640px) {
    main {
        display: block;
        width: 250px;
        margin: auto;
    }

    form {
        align-items: center;
    }

    section#ladoimg {
        height: 100%;
        width: 100%;
    }
    section#ladoimg > img {
        position: relative;
        top: 5px;
        width: 250px;
        border-radius: 0px 0px 15px 15px;
    }
}